<footer id="footer">


    <div class="footer-second container">


        <div class="futer-second-first-bloc">

            <div class="footer-second-contant">
                <h2 class="footer-second-title"><span class="footer-second-title-orange">Chocolate</span> a
                    delicious
                    cure for a bad day</h2>
            </div>



            <div class="futer-second-second-bloc">

                <div class="footer-second-contacs">
                    <p class="footer-second-parahraf">Contact us</p>
                    <ul>
                        <li class="footer-second-contact first"><a href="">+380 (68) 443-94-26</a></li>

                        <li class="footer-second-contact"><a href=""> simplychoc@gmail.com</a></li>
                    </ul>
                </div>

                <div class="footer-second-icon">


                    <ul class="footer-second-icon-list">

                        <li> <a href="">
                                <svg class="  instagram" width="24" height="24">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a></li>

                        <li><a href="">
                                <svg class=" twitter" width="24" height="24">
                                    <use href="./img/icons.svg#icon-twitter"></use>
                                </svg></a></li>
                    </ul>
                </div>


            </div>

        </div>

        <div class="footer-thre-bloc">
            <div class="footer-menu">
                <ul class="list">
                    <li class="menu-list"><a href="">Home</a></li>
                    <li class="menu-list"><a href="">How it's made?</a></li>
                    <li class="menu-list"><a href="">Our products</a></li>
                    <li class="menu-list"><a href="">Top sellers</a></li>
                    <li class="menu-list"><a href="">Chocolate is loved</a></li>

                </ul>
            </div>
        </div>

</footer>