<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="logo-link" href="../index.html"
        ><span class="logo-simply">SIMPLY</span>&nbsp;<span
          class="logo-chocolate"
          >CHOCOLATE</span
        ></a
      >
      <a href="../index.html">
        <svg class="logo-icon">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list-nav">
        <li class="header-item-nav">
          <a class="header-link-nav" href="../index.html">Home</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#How it’s made?">How it’s made?</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#Our products">Our products</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#Top sellers">Top sellers</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#Chocolate is loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger-open-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon-open-btn">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <ul class="header-social-list">
      <li class="header-item-social-list">
        <a class="header-social-link" href="">
          <svg class="header-icon-soclink" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-item-social-list">
        <a class="header-social-link" href="">
          <svg class="header-icon-soclink" width="24" height="24">
            <use href="../img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="burger-menu js-menu-container" id="mobile-menu">
      <button class="burger-close-btn js-close-menu" type="button">
        <svg class="burger-close-icon">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="mobile-list-container">
        <ul class="mobile-list-nav">
          <li class="mobile-item-nav">
            <a class="mobile-link-nav" href="">Home</a>
          </li>
          <li class="mobile-item-nav">
            <a class="mobile-link-nav" href="">How it’s made?</a>
          </li>
          <li class="mobile-item-nav">
            <a class="mobile-link-nav" href="">Our products</a>
          </li>
          <li class="mobile-item-nav">
            <a class="mobile-link-nav" href="">Top sellers</a>
          </li>
          <li class="mobile-item-nav">
            <a class="mobile-link-nav" href="">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <ul class="mobile-social-list">
        <li class="mobile-item-social-list">
          <a class="mobile-social-link" href="">
            <svg class="mobile-icon-soclink">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-item-social-list">
          <a class="mobile-social-link" href="">
            <svg class="mobile-icon-soclink">
              <use href="../img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
