<section class="hero" id="home">
  <div class="container">
    <h2 class="hero-title">
      Treat yourself or a loved one to <br />
      our finest ingredients for a moment of pure delight!
    </h2>
    <div class="hero-btns">
      <ul class="hero-btn-list">
        <li>
          <button class="btn-orange js-open-modal" type="button" data-modal="3">
            Buy now
          </button>
        </li>
        <li>
          <a class="btn-dark" href="#How-made">How it&#8217;s made</a>
        </li>
      </ul>
      <a class="hero-scroll-link" href="#footer">
        <p class="hero-scroll-label">scroll down</p>
        <svg class="hero-scroll-icon" width="28" height="28">
          <use class="icon-scroll-1" href="/img/icons.svg#icon-scroll-1"></use>
          <use class="icon-scroll-2" href="/img/icons.svg#icon-scroll-2"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
