<div class="modal-buynow modal" data-modal="3">
  <button type="button" class="modal-buynow-btn js-modal-close">
    <svg class="buynow-btn-svg">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal-buynow-title">buy <span>now</span></p>
  <ul class="modal-buynow-list">
    <li class="modal-buynow-item">
      <img
        srcset="
          ./img/modal-buy-now/buy1-mobile.jpg     84w,
          ./img/modal-buy-now/buy1.jpg           120w,
          ./img/modal-buy-now/buy1-mobile@2x.jpg 168w,
          ./img/modal-buy-now/buy1@2x.jpg        240w
        "
        sizes="(min-width: 768px) 120px,  (min-width: 320px) 84px, 100vw"
        src="./img/modal-buy-now/buy1-mobile.jpg"
        alt="Dark choco"
        loading="lazy"
      />
      <button type="button" class="buynow-item-btn">100 g</button>
    </li>
    <li class="modal-buynow-item">
      <img
        srcset="
          ./img/modal-buy-now/buy2-mobile.jpg     84w,
          ./img/modal-buy-now/buy2.jpg           120w,
          ./img/modal-buy-now/buy2-mobile@2x.jpg 168w,
          ./img/modal-buy-now/buy2@2x.jpg        240w
        "
        sizes="(min-width: 768px) 120px,  (min-width: 320px) 84px, 100vw"
        src="./img/modal-buy-now/buy2-mobile.jpg"
        alt="Choco-nuts"
        loading="lazy"
      />
      <button type="button" class="buynow-item-btn">200 g</button>
    </li>
    <li class="modal-buynow-item">
      <img
        srcset="
          ./img/modal-buy-now/buy3-mobile.jpg     84w,
          ./img/modal-buy-now/buy3.jpg           120w,
          ./img/modal-buy-now/buy3-mobile@2x.jpg 168w,
          ./img/modal-buy-now/buy3@2x.jpg        240w
        "
        sizes="(min-width: 768px) 120px,  (min-width: 320px) 84px, 100vw"
        src="./img/modal-buy-now/buy3-mobile.jpg"
        alt="Milk choco"
        loading="lazy"
      />
      <button type="button" class="buynow-item-btn">300 g</button>
    </li>
  </ul>
  <form class="modal-buynow-form">
    <div>
      <label class="modal-buynow-label" for="pers-info"
        >Personal information</label
      >
      <span class="buynow-inp-list">
        <input
          type="text"
          name="buynow-name"
          class="modal-buynow-name modal-buynow-input"
          pattern="^[a-zA-Z]+$"
          title="Use english dashboard"
          placeholder="Name"
          id="pers-info"
        />

        <input
          type="text"
          name="buynow-surname"
          class="modal-buynow-name modal-buynow-input"
          pattern="^[a-zA-Z]+$"
          title="Use english dashboard"
          placeholder="Surname"
        />
      </span>
    </div>

    <div>
      <label class="modal-buynow-label" for="buynow-email">Email</label>
      <input
        type="email"
        name="buynow-email"
        class="modal-buynow-input"
        placeholder="Enter your email"
        id="buynow-email"
      />
    </div>

    <div class="buynow-foricon">
      <label class="modal-buynow-label" for="buynow-phone">Phone number</label>
      <input
        type="tel"
        name="buynow-phone"
        class="buynow-numb modal-buynow-input"
        placeholder="Phone number"
        pattern="[0-9]{9}"
        title="Enter 9 digits without spaces"
        id="buynow-phone"
      />
      <span class="buynow-phoneicon">
        <svg class="buynow-phonesvg">
          <use href="./img/icons.svg#icon-flag"></use>
        </svg>
        +380
      </span>
    </div>

    <div class="buynow-foricon">
      <label class="modal-buynow-label" for="buynow-card">Card number</label>
      <input
        type="text"
        name="buynow-card"
        class="modal-buynow-input"
        placeholder="Enter card"
        pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}"
        title="Enter the card number, including spaces"
        id="buynow-card"
      />
      <svg class="buynow-cardicon">
        <use href="./img/icons.svg#icon-mastercard"></use>
      </svg>
    </div>

    <div>
      <label class="modal-buynow-label" for="buynow-comment">Comment</label>
      <textarea
        name="buynow-comment"
        class="modal-buynow-input"
        rows="5"
        placeholder="Enter text"
        id="buynow-comment"
      ></textarea>
    </div>

    <button type="submit" class="modal-buynow-submit btn-orange js-modal-close">
      Submit
    </button>
  </form>
</div>
<div class="modal-buynow-backdrop overlay js-overlay-modal"></div>
