<section class="product-container container">
  <h2 class="product-title">
    our <span class="product-title-color">products</span>
  </h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper product-list">
      <!-- Slides -->
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card1.jpg    1x,
              ../img/our-products/card1@2x.jpg 2x
            "
            src="../img/our-products/card1.jpg"
            alt="Orange chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">orange</h2>
          <p class="product-descr">Dark chocolate</p>
          <button class="product-price" type="button">45 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card2.jpg    1x,
              ../img/our-products/card2@2x.jpg 2x
            "
            src="../img/our-products/card2.jpg "
            alt="Apple&crannberry chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">APPLE&CRANBERRY</h2>
          <p class="product-descr">Milk chocolate</p>
          <button class="product-price" type="button">50 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card3.jpg    1x,
              ../img/our-products/card3@2x.jpg 2x
            "
            src="../img/our-products/card3.jpg "
            alt="Lime&sea salt chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">lime&sea salt</h2>
          <p class="product-descr">Dark chocolate</p>
          <button class="product-price" type="button">66 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card4.jpg    1x,
              ../img/our-products/card4@2x.jpg 2x
            "
            src="../img/our-products/card4.jpg"
            alt="Pineapple chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">pineapple</h2>
          <p class="product-descr">Dark chocolate</p>
          <button class="product-price" type="button">54 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card5.jpg    1x,
              ../img/our-products/card5@2x.jpg 2x
            "
            src="../img/our-products/card5.jpg "
            alt="Classic chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">Classic</h2>
          <p class="product-descr">Milk chocolate</p>
          <button class="product-price" type="button">45 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card6.jpg    1x,
              ../img/our-products/card6@2x.jpg 2x
            "
            src="../img/our-products/card6.jpg"
            alt="Honey chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">honey</h2>
          <p class="product-descr">Milk chocolate</p>
          <button class="product-price" type="button">50 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card7.jpg    1x,
              ../img/our-products/card7@2x.jpg 2x
            "
            src="../img/our-products/card7.jpg"
            alt="Roasted fruits chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">Roasted fruits</h2>
          <p class="product-descr">Dark chocolate</p>
          <button class="product-price" type="button">66 UAH</button>
        </div>
      </li>
      <li class="product-item swiper-slide">
        <div class="product-thumb">
          <img
            class="product-image"
            srcset="
              ../img/our-products/card8.jpg    1x,
              ../img/our-products/card8@2x.jpg 2x
            "
            src="../img/our-products/card8.jpg"
            alt="Classic white chocolate image"
            width="230"
          />
        </div>
        <div class="product-content">
          <h2 class="product-subtitle">Classic</h2>
          <p class="product-descr">White chocolate</p>
          <button class="product-price" type="button">54 UAH</button>
        </div>
      </li>
    </ul>
    <!-- Horizontal pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
