<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      <span class="reviews-title-accent">chocolate</span> is loved
    </h2>
    <div class="swiper reviews-slider">
      <ul class="swiper-wrapper reviews-slider-wrapper">
        <!-- Slides -->
        <li class="swiper-slide reviews-slide">
          <div class="reviews-slide-wrap">
            <img
              class="reviews-slide-img"
              src="../img/reviews/reviews1.jpg"
              alt=""
            />
          </div>
          <div class="reviews-slide-holder">
            <h3 class="reviews-slide-caption">Victoria Dobrzhanska</h3>
            <p class="reviews-slide-desc">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="swiper-slide reviews-slide">
          <div class="reviews-slide-wrap">
            <img
              class="reviews-slide-img"
              src="../img/reviews/reviews2.jpg"
              alt=""
            />
          </div>
          <div class="reviews-slide-holder">
            <h3 class="reviews-slide-caption">Nazar Babenko</h3>
            <p class="reviews-slide-desc">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="swiper-slide reviews-slide">
          <div class="reviews-slide-wrap">
            <img
              class="reviews-slide-img"
              src="../img/reviews/reviews3.jpg"
              alt=""
            />
          </div>
          <div class="reviews-slide-holder">
            <h3 class="reviews-slide-caption">Olena Kampusch</h3>
            <p class="reviews-slide-desc">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <button class="reviews-btn btn-light" type="button">Leave a review</button>
  </div>
</section>
